.lista-reserva-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 30px;
  background-color: #282828;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #9E4DDD;
  font-size: 2em;
  margin: 25px 0;
  font-weight: 600;
}

.lista-reserva-container ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.lista-reserva-container li {
  background-color: #111;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.lista-reserva-container li:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.lista-reserva-container h2 {
  font-size: 1.4em;
  color: #9E4DDD;
  margin-bottom: 15px;
  font-weight: 500;
}

.lista-reserva-container p {
  margin: 10px 0;
  color: #fff;
  text-align: justify;
  font-size: 1em;
}

a.botao-voltar {
  display: block;
  text-align: center;
  background-color: #9E4DDD;
  color: white;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 8px;
  width: 220px;
  margin: 30px auto;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

a.botao-voltar:hover {
  background-color: #7C3CB1;
  transform: translateY(-2px);
}

a.botao-voltar:active {
  background-color: #6A329A;
  transform: translateY(2px);
}

@media (max-width: 1024px) {
  .lista-reserva-container ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .lista-reserva-container ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .lista-reserva-container ul {
    grid-template-columns: 1fr;
  }
}
