/*body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  color: #333;
}*/

.lista-comic-container {
  max-width: 1200px;
  margin: 20px;
  padding: 30px;
  background-color: #282828;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #9E4DDD;
  font-size: 2em;
  margin: 25px;
  font-weight: 600;
}

.lista-comic-container ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.lista-comic-container li {
  flex: 1 1 260px;
  background-color: #111;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: block;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.lista-comic-container li:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.lista-comic-container h2 {
  font-size: 1.4em;
  color: #9E4DDD;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 500;
}

.lista-comic-container p {
  margin: 10px 0;
  color: #fff;
  text-align: justify;
  font-size: 1em;
}

.lista-comic-container img {
  display: flex;
  width: 300px;
  height: 450px;
  border-radius: 10px;
  margin: 15px auto;
  align-items: center;
}

a.botao-voltar {
  display: block;
  text-align: center;
  background-color: #9E4DDD;
  color: white;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 8px;
  width: 220px;
  margin: 30px auto;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

a.botao-voltar:hover {
  background-color: #7C3CB1;
  transform: translateY(-2px);
}

a.botao-voltar:active {
  background-color: #6A329A;
  transform: translateY(2px);
}
